<h2>Features</h2>

<% @entities.each do |e| %>
<h3><%= e.description %></h3>
<%= link_to e.title, entity_path(e) %>
<% end %>

<% if session[:user] %>
<p><%= link_to 'New', new_entity_path%></p>
<% end %>