<p><strong><%= @entity.title %> features</strong></p>
<ul>
<% @entity.features.each do |f|%>
	<li><%= link_to f.title, entity_feature_path(@entity, f) %></li>
<% end %>
</ul>
<% if session[:user] %>
	<p>Add <%= link_to "new", new_entity_feature_path(@entity)%> feature</p>
<% end %>

<%= link_to 'Back', entities_path%>