
#container
{
width: 90%;
/*height:600px;*/
margin: 10px auto;
background-color: #fff;
color: #333;
line-height: 130%;
}
.normal {}
.namespace { color: #B66; font-weight: bold; }
.tag { color: #F88; }
.comment { color: #005; font-style: italic; }
.punct { color: #447; font-weight: bold; }
.string { color: #944; }
.number { color: #F99; }
.attribute { color: #BB7; }

#top
{
padding: .5em;
background-color: #fff;
}

#contents {
position:absolute;
z-index:1;
}

#navbar
{
	background-color: #ddd;
}

#top h1
{
padding: 0;
margin: 0;

}

#leftnav
{
float: left;
width: 160px;
margin: 0;
padding: 1em;
max-width: 20%;
}

#rightnav
{
float: right;
width: 160px;
margin: 0;
padding: 1em;
max-width: 20%;
}

#content
{
margin-left: 200px;
margin-right: 200px;
padding: 1em;
max-width: 60%;
/*max-height:500px;
height:500px;*/
border: 1px solid gray;
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #fff;
/*border-top: 1px solid gray;*/
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

body, p, ol, ul, td {
  background-color: #fff; color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
body
{
	/*background-image: url('/images/metal.jpg');
  	background-repeat: repeat;*/
	background-color: #ccc;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#ta {
	overflow: auto;
}
